body {  /*selector/element from page */
    background-color: salmon;   /*property:value*/
    }
    header {
        background-color: red;
    }
    main {
        background-color: chartreuse;
    }

    p{
        background-color: yellow;
    }

    footer{
    background-color: cyan;
    } 
    
    footer p{
        background-color: pink; /* Descendent selectors: selects every element on the page of the latter name of that is a child of former name*/
    }
    /* Direct Descendent selectors: selects every element on the page of the latter name of that is a child of former name*/
    footer>p {
        background-color: orange;
    }